@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
/* swap means that it will swap the font if it is not available */
@import url("https://fonts.googleapis.com/css?family=Domine:400,700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border-box type is used to tell the browser to calculate size after included padding and border */
    text-align: center;
    overflow: hidden;
}

html,
body {
    width: 100%;
    height: 700vh !important;
    font-family: "Roboto Mono", monospace;
    /* if Roboto Mono is not available, use monospace */
    text-transform: uppercase;
}

html {
    overflow-y: scroll;
}

h1 {

    font-family: 'Domine', sans-serif;
    font-size: 10vw;
    font-weight: 700;
    line-height: 90%;
    letter-spacing: 2px;
    color: #ff9700;
    overflow: hidden;
}

section {
    height: 100vh;
    width: 100vw;
}

p {
    font-size: 14px;
    font-weight: 600;
    color: white;
}

.hero {
    padding: 4em;
    /* padding is inside the border margin is outside */
    background: url("./assets/hero.jpg") no-repeat 50% 50%;
    /* the third and forth arguments are the position of the center of the image */
    background-size: cover;
    /* em is relative to the font size of the element (or the parent by default) */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.about {
    padding: 4em 12em;
    background-color: #ff9700;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10em;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-img {
    height: 75%;
    border: 2px solid black;
}

.about-copy h1 {
    text-align: center;
    font-size: 10vw;
    color: #9dd0d4;
}

.sticky {
    position: relative;
    /* position relative is used to position the child element relative to its normal position */
    perspective: 1000px;
    /* perspective is the distance between each layer in z-dimension */
}

.intro {
    position: absolute;
    /* position absolute is used to position the child element relative to its parent (nearest relative or viewport) */
    top: 50%;
    transform: translateY(-50%);
    /* transform is used to move, rotate, scale, and skew an element */
    /* translate will based on element's own size */
    z-index: 2;
    padding: 1em;
    display: flex;
    width: 100%;
}

.intro-col {
    display: flex;
    flex: 1;
}

.intro-col p {
    flex: 1;
    color: #ff9700;
}

.intro-col:nth-child(2) p {
    text-align: right;
}

.img-1,
.img-2,
.img-3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}